# Object files
*.o
*.obj

# Executables
calculator
*.out
*.exe

# Build directories
bin/
build/
dist/

# External dependencies
extern/
assets/game/
src/game/
assets/engine/fonts/arial.ttf
_deps/

# Cmake
cmake-build-debug/

# IDE
.vscode/
.idea/
.cache/

# Vim
*.swp
*.swo

# Debug
*.gdb_history
*.dSYM/
test.txt

# Logs
*.log

# Temporary
tmp/
temp/

# OS
.DS_Store
Thumbs.db

# Personal notes
notes/
